*{
   margin:0;
   padding:0;
}

body{
  font-family: myFont;
}

@font-face{
  font-family:myFont;
  src: url("../assets/font/Aileron-Regular.otf");
}

.display_flex{
  display: flex;
}

body{
  background-image: url("../assets/cartbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main{
  position: relative;
}

.head{
  background-color:rgb(75, 76, 81);
  position: absolute;
  right:16px;
  top: 90px;
  width: 790px;
}
  
.head_text{
  padding: 15px;
}

.text h2{
  padding-left: 105px;
  text-shodow: 1px 1px rgb(0 0 0 /25%);
  font-family: Times new roman;
  position: relative;
  font-size: 15px;
}

.text h2:before{
  content:"";
  position: absolute;
  display: block;
  width: 70px;
  height: 1px;
  left: 20px;
  top: 10px;
  background: rgb(179, 179, 179)
}

.text h2:after{
  content:"";
  position: absolute;
  display: block;
  width: 70px;
  height: 1px;
  right: 425px;
  top: 10px;
  background: rgb(179, 179, 179)
}

.close{
  position: absolute;
  right:40px;
  top: 12px;
}

.title{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.lists{
  background-color: white;
  color: slategray;
  margin:0px 0px 6px 6px;
}

.cart1{
  border-bottom: 1px solid rgb(230, 230, 230);
}

.crglass{
  width: 150px;
  padding: 5px;
  border-right: 1px solid rgb(230, 230, 230);
}

.crglass p{
  font-size: 12px;
  text-align: center;
}

.glass1 img{
  padding: 5px;
}

.glass1 span{
  padding-top: 28px;
}

.first{
  padding-left: 8px;
  width: 26px;
}

.first img{
  border: 1px solid rgb(230, 230, 230);
  padding: 2px;
  margin: 5px 2px 0px 5px;
  border-radius: 50px;
}

.one{
  border: 1px solid slategray;
  border-radius: 3px;
  padding: 5px;
}

.close1{
  position: absolute;
  right:20px;
  top: 50px;
}

.title1{
  font-size: 18px;
  color: slategray;
  text-decoration: none;
}  

.details{
  padding: 25px 0px 0px 35px;
}

.total{
  margin-left: 345px;
}

.price{
  font-size: 13px;
}

.total{
  margin-left: 345px;
}

.rupees{
  position: relative;
}

.rs1{
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.rs2{
  position: absolute;
  right: 100px;
  font-size: 26px;
  font-weight: bold;
}

.rs3{
  position: absolute;
  top: 4px;
  right: 20px;
  font-size: 12px;
}

.sell{
  font-style: italic;
  font-size: 13px;
  padding-top: 35px;
  text-align: center;
}

.close2{
  position: absolute;
  right:20px;
  top: 180px;
}

.title2{
  font-size: 18px;
  color: slategray;
  text-decoration: none;
}  

.lens{
  margin-left: 120px;
}

.sub{
  margin-left: 150px
}

.rs4{
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 20px;
  text-decoration: line-through;
}

.rs5{
  position: absolute;
  left: 100px;
  top: 5px;
  font-size: 26px;
  font-weight: bold;
}  

.rs6{
  position: absolute;
  left: 120px;
  top: 4px;
  font-size: 13px;
  color: darkslategray;
  font-weight: 900;
}

.rs7{
  position: absolute;
  right: 155px;
  top: 8px;
  font-size: 13px;
}

.rs8{
  position: absolute;
  right: 100px;
  top: 0px;
  font-size: 26px;
  font-weight: bold;
}

.rs9{
  position: absolute;
  right: 13px;
  top:0px;
  font-size: 12px;
}

.overall{
  padding: 25px 0px 0px 20px;
}

.rs{
  font-size: 14px;
}

.selling{
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.cart2{
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.total_price{
  position: relative;
  font-size: 14px;
}

.amount{
  position: absolute;
}

.net_amount{
  position: absolute;
  left: 158px;
}

.tax{
  position: absolute;
  right: 275px;
}

.total_price img{
  position: absolute;
  right: 253px;
}

.fees{
  position: absolute;
  right: 50px;
}

.calculation{
  position: relative;
  padding-top: 20px;
  font-size: 14px;
}

.equal{
  position: absolute;
  left: 100px;
  top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.second{
  position: absolute;
  left: 175px;
}

.plus{
  position: absolute;
  left: 275px;
  top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.third{
  position: absolute;
  right: 300px;
}

.add{
  position: absolute;
  right: 225px;
  top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.free{
  position: absolute;
  right: 90px;
}

.order{
  width: 391px;
  padding: 15px;
  font-size: 21px;
  align-items: center;
  justify-content: center;
}

.value{
  color:rgb(232, 121, 42);
  padding-left: 5px;
} 

.proceed{
    background-color: rgb(232, 121, 42);
    width: 391px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.proceed p{
   font-size: 19px;
   font-weight: bold;
}

.proceed a{
   color: white;
   text-decoration: none;
}

.proceed img{
  padding-left: 5px;
  max-width: 19px;
}