*{
   margin:0;
   padding:0;
}

body{
  font-family: myFont;
}

@font-face{
  font-family:myFont;
  src: url("../assets/font/Aileron-Regular.otf");
}

.display_flex{
  display:flex;
}

.header{
  font-size:12px;
  color: navy;
  margin-top: 8px;
}

.more{
  padding-right:8px;
}

.top{
  border-left: 1px solid black;
  padding: 0px 8px;
}

.logo{
  margin-left:15px;
}

.logo img{
  max-width:180px;
}

.search img{
  max-width:130px;
  margin:0px 20px 0px 50px;
}

.search input{
  margin:15px 0px;
  width:575px;
  padding-left: 10px;
  border-radius: 4px;
  border-width: 1px;
  border-color: navy;
}

.headRight{
  margin: 25px 0px 0px 68px;
  font-size: 14px;
}

.headRight p{
  margin-right:10px;
}

.headRight img{
  max-width: 15px;
}

.headRight span{
  margin-left:5px;
}

.headBottom{
 background-color:rgb(253, 251, 250);
}

.left{
  padding:12px;
}

.left p{
  font-size: 15px;
  padding:10px;
  color:navy;
}

.right{
  padding:15px;
  margin-left:75px;
}

.right img{
  width:69px;
  border-radius:5px;
  margin-right:3px;
}

.main{
  background-color:rgb(242, 242, 242);
}

.mainTop{
  width:1330px;
  background-color:rgb(245, 246, 249);
}  

.Glass{
  font-size: 14px;
  color:rgb(179, 179, 179);
  background-color:white;
  margin:10px 0px 20px 20px;
  border-radius:10px;
}

.Glass img{
  max-width:185px;
  padding: 6px;
}

.Glass p{
  text-align:center;
  margin: 4px 0px 12px 0px;
}

.content{
  width: 1330px;
  background-color: white;
}

.imgOne img, .imgTwo img{
  max-width:1330px;
}

.imgTwo{
  margin-top: 50px;
}

.collections{
  margin-bottom:30px;
}

.exp img{
  max-width:190px;
}

.trend{
  margin: 70px 0px 10px 50px;
  font-size: 40px;
  width: 255px;
  font-weight: 700;
}

.trend p{
  font-size:14px;
  margin-top:15px;
  font-weight:lighter;
  font-family: times new roman;
}

.exp{
  margin: 50px 20px 10px 19px;
}

.exp p{
  text-align: center;
  font-weight: bold;
  font-family: times new roman;
}

.exp button{
  padding: 12px 39px;
  margin: 35px 0px 0px 32px;
  border-radius: 5px;
  border:none;
  font-weight:bold;
  color:rgb(255, 255, 255);
  background-color: rgb(50, 168, 178);
}

.text p{
  margin: 20px 0px;
}

.imgThree img{
  width: 1060px;
  margin:20px 0px 0px 110px;
}

